.imageContainer {
  display: flex;
  flex-wrap: wrap;
}

.imageContainer .image {
  width: 10rem;
  height: auto;
}

.imageContainer .image img {
  height: 10rem;
  object-fit: cover;
  width: 10rem;
}
