.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: 20% 1fr;
  grid-template-rows: 8% 1fr 8%;
  height: 100vh;
}

.main {
  grid-area: main;
  margin: 0.5rem;
  margin-top: 1.5rem;
}

.connectWalletError {
  align-items: center;
  color: #21bf73;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  height: 100%;
}
